@import "./../../../styles.scss";
section {
  background-color: $background-dark;
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding: $w-padding;
    padding-top: 100px;
    max-width: 1920px;
    width: 100%;
  }
}

.contact-descrip {
  width: 500px;
  > div {
    @include greenHeadline();
    line-height: 60px;
    margin-bottom: 40px;
  }
  > p {
    font-family: $karla-font;
    font-size: 16px;
    color: $white;
    text-align: justify;
    margin-bottom: 10px;
    > span {
      color: $green;
    }
  }
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 620px;
  > div {
    > div {
      > input {
        border: none;
        background-color: transparent;
        font-family: $karla-font;
        font-size: 18px;
        color: $white;
        cursor: pointer;
        min-height: 45px;
        z-index: 999;
      }
      > textarea {
        border: none;
        background-color: transparent;
        font-family: $karla-font;
        font-size: 18px;
        color: $white;
        cursor: pointer;
        resize: none;
        white-space: pre-wrap;
        min-height: 45px;
        z-index: 999;
        padding-top: 10px;
      }
      > label {
        color: $green;
        font-family: $fira-font;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
}

.write-form {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 150px;
  position: relative;
  > span {
    position: absolute;
    color: rgba(236, 123, 123, 0.8);
    font-family: $karla-font;
    font-size: 18px;
    bottom: 25px;
  }
}

.write-form:hover input::placeholder,
.write-form:hover textarea::placeholder {
  color: $white;
}

.submit-btn {
  @include transBtn();
  border: 1px solid $white-transparent;
  color: $white-transparent;
  width: fit-content;
  &:hover {
    border: 1px solid $white-transparent;
    color: $white-transparent;
  }
}

.enabled-btn {
  border: 1px solid $white;
  color: $white;
  &:hover {
    border: 1px solid $green;
    cursor: pointer;
    color: $green;
  }
}

.disabled-btn {
  border: 1px solid $white-transparent;
  color: $white-transparent;
  &:hover {
    cursor: default;
  }
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  gap: 10px;
  font-size: 15px;
  font-family: $karla-font;
  color: $white;
  > div {
    position: relative;
    > span {
      position: absolute;
      color: rgba(236, 123, 123, 0.8);
      font-family: $karla-font;
      font-size: 16px;
      left: 0;
      top: 30px;
    }
  }

  > img {
    cursor: pointer;
  }
  > div {
    > a {
      text-decoration: none;
      color: $green;
      &:hover {
        color: $white;
      }
    }
  }
}

@media (max-width: 1600px) {
  section {
    > div {
      padding: 50px 50px;
      padding-top: 100px;
    }
  }
}

@media (max-width: 1350px) {
  section {
    > div {
      gap: 20px;
    }
  }
}

@media (max-width: 1300px) {
  section {
    > div {
      padding: 50px 15px;
      padding-top: 100px;
    }
  }
}

@media (max-width: 1000px) {
  .form {
    width: 100%;
  }

  .checkbox-container {
    width: 100%;
    > div {
      > span {
        left: 0;
      }
    }
  }
}

@media (max-width: 950px) {
  .checkbox-container {
    > div {
      > span {
        top: 35px;
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    > div {
      flex-direction: column;
      gap: 50px;
    }

    .contact-descrip {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .write-form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-descrip {
    > p {
      font-size: 16px;
    }
    > h3:last-of-type {
      font-size: 20px;
    }
    > div {
      font-size: 56px;
    }
  }

  .form {
    > div {
      > div {
        > input {
          font-size: 16px;
        }
        > textarea {
          font-size: 16px;
        }
        > label {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .checkbox-container {
    > div {
      > span {
        top: 50px;
      }
    }
  }
}
