<section>
    <div>
        <div class="contact-descrip">
            <h3>{{'contact' | translate}}</h3>
            <div>{{'contact-headline1' | translate}}
                <span> {{'contact-headline2' | translate}} </span>
            </div>
            <h3>{{'contact-cta' | translate}}</h3>
            <p>
                {{'contact-cta2' | translate}}
            </p>
            <p>{{'contact-question' | translate}} <span>{{'contact-question-cta' | translate}}</span></p>
        </div>
        <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="green-vertical-border"></div>
            <div>
                <div class="write-form">
                    <label for="name">{{'form-question-name' | translate}}</label>
                    <input #name="ngModel" [(ngModel)]="contactData.name" id="name" name="name" [attr.placeholder]="(name.invalid && name.touched)  ? '' : (translate.langDe 
                        ? 'Hier Ihr Name' 
                        : 'Your name goes here')" required>
                    @if (!name.valid && name.touched && name.value < 1) { <span>{{'form-question-name-error' |
                        translate}}</span>
                        }
                </div>
            </div>
            <div class="green-vertical-border"></div>
            <div>
                <div class="write-form">
                    <label for="email">{{'form-question-email' |
                        translate}}</label>
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        [attr.placeholder]="(email.invalid && email.touched)  ? '' : (translate.langDe 
                        ? 'ihremail@email.de' 
                        : 'youremail@email.com')" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        (blur)="validateEmail(email)">
                    @if (email.invalid && email.touched) {
                    <span>{{'form-question-email-error' | translate}}</span>
                    }
                </div>
            </div>
            <div class="green-vertical-border"></div>
            <div>
                <div class="write-form">
                    <label for="message">{{'form-question-text' | translate}}</label>
                    <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message"
                        id="message" [attr.placeholder]="(message.invalid && message.touched)  ? '' : (translate.langDe 
                        ? 'Hi Pascal, ich bin interessiert an...' 
                        : 'Hello Pascal, I am interested in...')" required></textarea>
                    @if (!message.valid && message.touched && message.value < 1) { <span>{{'form-question-text-error' |
                        translate}}</span>
                        }

                </div>
            </div>
            <div class="green-vertical-border"></div>

            <div class="submit-container">
                <div class="checkbox-container">
                    <img id="checkbox" (mouseenter)="checkboxEnterMouse()" (mouseleave)="checkboxLeaveMouse()"
                        (click)="checkboxOnClick(contactForm)" [src]="checkboxSrc" alt="">
                    <div>
                        {{'privacy-policy1' | translate}} <a routerLink="imprint">{{'privacy-policy2' | translate}}</a>
                        {{'privacy-policy3' | translate}}
                        @if (!this.isFormEnabled && message.valid && email.valid && name.valid) {
                        <span>{{'privacy-policy-error' | translate}}</span>
                        }
                    </div>

                </div>
                @if (!translate.langDe) {
                <input [ngClass]="{'enabled-btn': isFormEnabled, 'disabled-btn': !isFormEnabled}" class="submit-btn"
                    type="submit" value="Say Hello :)" id="submit-btn" [disabled]="!isFormEnabled">
                } @else {
                <input [ngClass]="{'enabled-btn': isFormEnabled, 'disabled-btn': !isFormEnabled}" class="submit-btn"
                    type="submit" value="Sag Hallo :)" id="submit-btn" [disabled]="!isFormEnabled">
                }

            </div>

            <div class="userFeedback" [ngClass]="{'enable': isFormSent, 'disable': !isFormSent}">
                {{'email-feedback' | translate}}
            </div>
        </form>
    </div>

</section>