@import "./../../../styles.scss";
section {
  background-color: $background-dark;
  display: flex;
  height: 600px;
  justify-content: start;
  gap: 250px;
  padding: $w-padding;
  > div {
    width: 500px;
    > div {
      @include greenHeadline();
      line-height: 60px;
      margin-bottom: 40px;
    }
    > p {
      font-family: $karla-font;
      font-size: 16px;
      color: $white;
      text-align: justify;
      margin-bottom: 10px;
      > span {
        color: $green;
      }
    }
  }
}
