<nav>
    <div class="nav-links">
        <img src="./assets/img/icons/eng.png" alt="Translation Logo">
        <div>
            <a href="">About me</a>
            <img src="./assets/img/icons/hover-circle.png" alt="Owner Logo">
        </div>
        <div>
            <a href="">Skills</a>
            <img src="./assets/img/icons/hover-circle.png" alt="Owner Logo">
        </div>
        <div>
            <a href="">Projects</a>
            <img src="./assets/img/icons/hover-circle.png" alt="Owner Logo">
        </div>
    </div>
    <div class="logo">
        <div>PN</div>
        <div>Pascal <br> Nehlsen</div>
    </div>
</nav>