@import "./../../../../styles.scss";

nav {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  font-size: 24px;
  padding: 50px 100px;
}

.nav-links {
  display: flex;
  gap: 40px;
  > svg {
    cursor: pointer;
  }
  > div {
    position: relative;
    > a {
      color: $white;
      text-decoration: none;
      font-family: $fira-font;
      line-height: 26.24px;
      letter-spacing: $l-spacing;
      &:hover {
        color: $green;
      }
    }
    > img {
      position: absolute;
      left: 50%;
      top: 100%;
    }
  }
}

#translateSvg:hover .cls-2 {
  stroke: $white;
}

#translateSvg:hover .cls-3 {
  fill-opacity: 1;
}

#translateSvg:hover .cls-1 {
  fill: $white;
}

@media (max-width: 1100px) {
  nav {
    padding: 50px 50px;
  }
}

@media (max-width: 880px) {
  .nav-links {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .nav-links {
    display: none;
  }

  svg {
    display: flex;
    cursor: pointer;
  }

  .logo {
    > div:last-of-type {
      display: none;
    }
  }

  nav {
    padding: 50px 15px;
  }
}
