<nav>
    <div class="nav-links">
        <img src="./assets/img/icons/eng.png" alt="Translation Logo">
        <div>
            <a (mouseenter)="showImage('circle-about')" (mouseleave)="hideImage()" href="">About me</a>
            <img [ngClass]="{'hidden': activeImage !== 'circle-about'}" src="./assets/img/icons/hover-circle.png"
                alt="Owner Logo">
        </div>
        <div>
            <a (mouseenter)="showImage('circle-skills')" (mouseleave)="hideImage()" href="">Skills</a>
            <img [ngClass]="{'hidden': activeImage !== 'circle-skills'}" src="./assets/img/icons/hover-circle.png"
                alt="Owner Logo">
        </div>
        <div>
            <a (mouseenter)="showImage('circle-owner')" (mouseleave)="hideImage()" href="">Projects</a>
            <img [ngClass]="{'hidden': activeImage !== 'circle-owner'}" src="./assets/img/icons/hover-circle.png"
                alt="Owner Logo">
        </div>
    </div>
    <div class="logo">
        <div>PN</div>
        <div>Pascal <br> Nehlsen</div>
    </div>
</nav>