@import "./../../../styles.scss";
section {
  background-color: $background-dark;
  display: flex;
  justify-content: center;

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
    padding: $w-padding;
    gap: 20px;
    position: relative;
    max-width: 1920px;
    width: 100%;
  }
}

.descrip-container {
  > span {
    @include greenHeadline();
  }
  > p {
    font-family: $karla-font;
    font-size: 18px;
    color: $white;
    text-align: justify;
    width: 450px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.projects-container {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 880px;
  }
}

.project-description {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 120px;
  align-items: center;
  &:hover {
    background-color: $background-green;
    cursor: pointer;
  }
  > p:first-of-type {
    font-family: $fira-font;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    cursor: pointer;
  }
  > p {
    font-family: $karla-font;
    font-size: 18px;
    color: $white;
    cursor: pointer;
    > span {
      color: $green;
    }
  }
}

.projects-small-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  > img:first-of-type {
    margin-top: 200px;
  }
  > img:nth-of-type(2) {
    margin-top: 300px;
  }
  > img:last-of-type {
    margin-top: 400px;
  }
}

@media (max-width: 1600px) {
  section {
    > div:first-of-type {
      padding: 50px 50px;
      gap: 50px;
      > div {
        width: 600px;
      }
    }
  }
}

@media (max-width: 1300px) {
  section {
    > div:first-of-type {
      padding: 50px 15px;
    }
  }
}

@media (max-width: 1020px) {
  section {
    gap: 20px;
  }
}

@media (max-width: 985px) {
  section {
    > div:first-of-type {
      > div {
        width: 450px;
      }
    }
  }
}

@media (max-width: 885px) {
  .project-description {
    padding: 0 10px;
  }

  .projects-small-container {
    > img {
      width: 260px;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .projects-small-container {
    display: none;
  }

  section {
    > div:first-of-type {
      gap: 0;
      justify-content: center;
      width: 100%;
      > div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .descrip-container {
    > span {
      font-size: 56px;
    }
    > p {
      font-size: 16px;
      width: fit-content;
    }
  }

  .project-description {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
