<section>
    <div>
        <h3>Portfolio</h3>
        <span>Featured Projects</span>
        <p>Explore a selection of my work here - interact
            with projects to see my skills in action.
        </p>
        <div class="projects-container">
            <div>
                <div class="green-vertical-border"></div>
                @for (project of projects; track $index) {
                <div class="project-description" (click)="openDialog($index)" (mouseenter)="showImage(project.name)"
                    (mouseleave)="hideImage()">
                    @if (project.name === 'elpolloloco') {
                    <p>el Pollo Loco</p>
                    } @else {
                    <p>{{project.name}}</p>
                    }
                    <p>
                        @for (tool of project.tools; let i = $index; track tool) {
                        {{ tool }} @if (i < project.tools.length - 1) { <span>|</span> }
                            }
                    </p>
                </div>
                <div class="green-vertical-border"></div>
                }
            </div>
        </div>
    </div>

    <div class="projects-small-container">
        <img [ngClass]="{'hidden': activeImage !== 'join'}" src="./assets/img/projects/join-small.png" alt="">
        <img [ngClass]="{'hidden': activeImage !== 'elpolloloco'}" src="./assets/img/projects/elpolloloco-small.png"
            alt="">
        <img [ngClass]="{'hidden': activeImage !== 'pokedex'}" src="./assets/img/projects/pokedex-small.png" alt="">
    </div>

    @for(project of projects; track $index) {
    <app-dialog [singleproject]="project"></app-dialog>
    }
</section>