<section>
    <h3>Portfolio</h3>
    <span>Featured Projects</span>
    <p>Explore a selection of my work here - interact
        with projects to see my skills in action.
    </p>
    <div class="projects-container">
        <div>
            <div class="green-vertical-border"></div>
            <div class="project-description">
                <p>Join</p>
                <p>
                    JavaScript <span>|</span>
                    HTML <span>|</span>
                    CSS <span>|</span>
                    Firebase
                </p>
            </div>
            <div class="green-vertical-border"></div>
            <div class="project-description">
                <p>El Pollo Loco</p>
                <p>
                    JavaScript <span>|</span>
                    HTML <span>|</span>
                    CSS
                </p>
            </div>
            <div class="green-vertical-border"></div>
            <div class="project-description">
                <p>Pokedex</p>
                <p>
                    JavaScript <span>|</span>
                    HTML <span>|</span>
                    CSS
                </p>
            </div>
            <div class="green-vertical-border"></div>
        </div>
        <div class="projects-small-container">
            <img [ngClass]="{'hidden': isHidden}" src="./assets/img/projects/join-small.png" alt="">
            <img [ngClass]="{'hidden': isHidden}" src="./assets/img/projects/elpolloloco-small.png" alt="">
            <img [ngClass]="{'hidden': isHidden}" src="./assets/img/projects/elpolloloco-small.png" alt="">
        </div>
    </div>
</section>