<section>
    <h1 id="imprint">{{'imprint-headline' | translate}}</h1>
    <h2 id="m46">{{'imprint-subheadline' | translate}}</h2>
    <p>Pascal Nehlsen</p>
    <p>Lüffringhauser Weg 12</p>
    <p>42929 Wermelskirchen</p>

    <h2 id="m56">{{'imprint-contact' | translate}}</h2>
    <p>{{'imprint-email' | translate}} mail&#64;pascal-nehlsen.de</p>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">{{'imprint-generate' | translate}}</a>
    </p>
</section>