<section>
    <h1 id="imprint">Impressum</h1>
    <h2 id="m46">Diensteanbieter</h2>
    <p>Pascal Nehlsen</p>
    <p>Lüffringhauser Weg 12</p>
    <p>42929 Wermelskirchen</p>

    <h2 id="m56">Kontaktmöglichkeiten</h2>
    <p>E-Mail-Adresse: mail&#64;pascal-nehlsen.de</p>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
            Schwenke</a>
    </p>
</section>