@import "./../../../../styles.scss";

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-dialog {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 100px;
  align-items: center;
  width: 70%;
  height: 70%;
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 30px;
  padding: 40px;
  > svg {
    position: absolute;
    right: 80px;
    top: 80px;
    transition: scale 125ms ease;

    &:hover {
      scale: 1.5;
      cursor: pointer;
      .cls-3 {
        fill: $green;
      }
    }
  }
}

.project-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  > span:first-of-type {
    font-size: 128px;
    font-family: $karla-font;
    color: $green;
    font-weight: bold;
    font-family: Karla;
    line-height: 100px;
    letter-spacing: -0.02em;
  }
  > span:nth-of-type(2) {
    font-family: $fira-font;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: $white;
    text-transform: capitalize;
  }
  > span:nth-of-type(3) {
    margin-top: 40px;
    font-family: $fira-font;
    font-size: 24px;
    font-weight: 700;
    color: $green;
  }
  > p {
    margin-top: 20px;
    font-family: $karla-font;
    font-size: 18px;
    color: $white;
  }
}

.dialog-buttons {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  > a {
    > button {
      display: flex;
      align-items: center;
      gap: 10px;
      @include transBtn();
      &:hover {
        > img {
          transform: translate(3px, -3px);
        }
      }
      > img {
        transition: transform 125ms ease;
        transform: translate(0px, 0px);
      }
    }
  }
}

.next-project {
  display: flex;
  position: absolute;
  align-items: center;
  color: $green;
  font-size: 18px;
  font-family: $karla-font;
  right: 80px;
  bottom: 50px;
  cursor: pointer;
  &:hover {
    color: $white;
    > img {
      transform: translateX(3px);
    }
  }
  > img {
    transition: transform 125ms ease;
    transform: translateX(0px);
  }
}

.projectImg {
  height: 70%;
  width: 40%;
  object-fit: contain;
}

@media (max-width: 1300px) {
  .inner-dialog {
    width: 90%;
    justify-content: space-between;
  }

  .skillset {
    flex-wrap: wrap;
  }

  .project-description {
    width: 40%;
    > span:first-of-type {
      font-size: 80px;
    }
    > span:nth-of-type(2) {
      font-size: 40px;
    }
    > span:nth-of-type(3) {
      font-size: 24px;
    }
    > p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1000px) {
  .inner-dialog {
    flex-direction: column-reverse;
    height: fit-content;
    justify-content: center;
    gap: 0;
    padding: 40px 20px;
    > svg {
      top: 30px;
      right: 30px;
    }
  }

  .projectImg {
    margin-top: 30px;
    height: 230px;
    width: 320px;
  }

  .dialog-buttons {
    margin-bottom: 50px;
  }

  .skillset {
    flex-wrap: wrap;
  }

  .next-project {
    right: 30px;
    bottom: 30px;
  }

  .project-description {
    width: 100%;
    > span:first-of-type {
      font-size: 72px;
    }
    > span:nth-of-type(2) {
      font-size: 56px;
    }
    > span:nth-of-type(3) {
      font-size: 20px;
    }
    > p {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .dialog-buttons {
    flex-direction: column;
    gap: 15px;
    > button {
      width: 150px;
    }
  }
}

@media (max-width: 450px) {
  .projectImg {
    height: 180px;
    width: 280px;
  }
}
