@import "./../../../styles.scss";
section {
  background: $background-dark;
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
  height: 800px;
  padding: $w-padding;
}

.owner-container {
  margin-top: 200px;
}

.owner-introdution {
  @include descripContainer();
}

.owner-picture {
  position: relative;
  height: 650px;
  width: 600px;
  > img:first-of-type {
    position: absolute;
    top: 60px;
  }

  > img:last-of-type {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
