<section>
    <div>
        <div class="owner-picture" data-aos="zoom-in">
            <img src="./assets/img/dev-picture/background-owner.png" alt="">
            <img src="./assets/img/dev-picture/pascal.jpg" alt="">
        </div>

        <div class="owner-container" data-aos="zoom-in">
            <h3>Who I Am</h3>
            <div class="owner-introdution">
                <span>About me</span>
                <p>
                    Hi, I'm a German-speaking Frontend Developer located in Wermelskirchen. Driven by the endless
                    possibilities in IT, I'm passionate about creating visually stunning and user-friendly websites and
                    applications.
                </p>

                <div>
                    <img src="./assets/img/icons/location-green.png" alt="">
                    <p>
                        Adaptable to various work settings, I can perform efficiently both on-site in Wermelskirchen and
                        remotely.
                    </p>
                </div>
                <div>
                    <img src="./assets/img/icons/cognition-green.png" alt="">
                    <p>
                        I am open-minded and continuously seek personal challenges to enhance my knowledge and skills.
                    </p>
                </div>
                <div>
                    <img src="./assets/img/icons/tick-green.png" alt="">
                    <p>
                        In my profession, programming is more than just writing code; it's a creative approach to
                        problem-solving. I take pride in my skill to distill complex technical issues into simple,
                        user-friendly solutions. By doing so, I help you achieve your goals and bring your visions to
                        life.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>