@import "./../../../styles.scss";
section {
  background: $background-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  height: 1000px;
  padding: $w-padding;
}

.owner-container {
  margin-top: 200px;
}

.owner-introdution {
  font-family: $karla-font;
  font-size: 18px;
  width: 560px;
  height: fit-content;
  border: 1px solid $green;
  border-radius: 30px;
  padding: 20px 32px 32px 32px;
  text-align: justify;

  > span {
    font-family: $fira-font;
    color: $green;
    font-weight: 700;
    font-size: 64px;
  }
  > p:first-of-type {
    margin-top: 30px;
    color: $white;
  }
  > div {
    display: flex;
    align-items: start;
    gap: 20px;
    > p {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 10px;
    }
  }
  > div:first-of-type {
    margin-top: 20px;
  }
}

h3 {
  color: $green;
  font-family: $karla-font;
  font-size: 24px;
  margin-bottom: 20px;
}

.owner-picture {
  position: relative;
  height: 650px;
  width: 600px;
  > img:first-of-type {
    position: absolute;
    top: 60px;
  }

  > img:last-of-type {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
