<section>
    <div>
        <div class="owner-picture" data-aos="zoom-in">
            <img src="./assets/img/dev-picture/background-owner.png" alt="">
            <img src="./assets/img/dev-picture/pascal.jpg" alt="">
        </div>

        <div class="owner-container" data-aos="zoom-in">
            <h3>{{'who' | translate}}</h3>
            <div class="owner-introdution">
                <span>{{'aboutme' | translate}}</span>
                <p>
                    {{'introduce' | translate}}
                </p>

                <div>
                    <img src="./assets/img/icons/location-green.png" alt="">
                    <p>
                        {{'introduce-location' | translate}}
                    </p>
                </div>
                <div>
                    <img src="./assets/img/icons/cognition-green.png" alt="">
                    <p>
                        {{'introduce-cognition' | translate}}
                    </p>
                </div>
                <div>
                    <img src="./assets/img/icons/tick-green.png" alt="">
                    <p>
                        {{'introduce-mindset' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>