<section>
    <div class="owner-picture">
        <img src="./assets/img/dev-picture/background-owner.png" alt="">
        <img src="./assets/img/dev-picture/example-owner.png" alt="">
    </div>

    <div class="owner-container">
        <h3>Who I Am</h3>
        <div class="owner-introdution">
            <span>About me</span>
            <p>
                Hi, I'm german speaking Frontend Developer based in Wermelskirchen.
                Motivated by the limitless opportunities within IT, i am excited about
                crafting visually captivating and intuitive websites and applications.
            </p>

            <div>
                <img src="./assets/img/icons/location-green.png" alt="">
                <p>
                    Flexible in terms of working environments, I can work effectively
                    both on-site in Wermelskirchen and remotely.
                </p>
            </div>
            <div>
                <img src="./assets/img/icons/cognition-green.png" alt="">
                <p>
                    I am open-minded and always looking for personal challenges to constantly
                    improve my knowledge and skills.
                </p>
            </div>
            <div>
                <img src="./assets/img/icons/tick-green.png" alt="">
                <p>
                    In my profession, programming isn't just about writing code; it's a creative
                    form of problem-solving. I take pride in my ability to distioll complex
                    technical challenges into simple, user-friendly solutions. This way, I help
                    you archieve your goals and brig you visions to life.
                </p>
            </div>
        </div>
    </div>
</section>