<section>
    <div>
        <div>
            <h3>{{'technologies' |
                translate}}</h3>
            <div class="tech-introduce">
                <span>Skill Set</span>
                <p>
                    {{'skillset-journey' | translate}}
                </p>
                <p>
                    {{'skillset-question1' | translate}}
                    <span>{{'skillset-question2' | translate}}</span>
                </p>
                <p>
                    {{'skillset-cta' | translate}}
                </p>
                <a href="#contact"><button> <span> {{'contact' | translate}}
                        </span></button></a>
            </div>
        </div>

        <div class="skillset">
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/it-sec.png" alt="">
                <span>IT Security</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/Linux.png" alt="">
                <span>Linux</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/CD.png" alt="">
                <span>CI/CD</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/DRF.png" alt="">
                <span>Django REST Framwork</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/Cloud.png" alt="">
                <span>Cloud</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/shell.png" alt="">
                <span>Shell</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/YAML.png" alt="">
                <span>YAML</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/Docker.png" alt="">
                <span>Docker</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/Python.png" alt="">
                <span>Python</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/javascript.png" alt="">
                <span>JavaScript</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/typescript.png" alt="">
                <span>TypeScript</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/angular.png" alt="">
                <span>Angular</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/git.png" alt="">
                <span>GIT</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/rest-api.png" alt="">
                <span>Rest-Api</span>
            </div>
            <div data-aos="zoom-in">
                <img src="./assets/img/icons/scrum.png" alt="">
                <span>Scrum</span>
            </div>
        </div>
    </div>

</section>