@import "./../../../styles.scss";
section {
  background: radial-gradient(
    22.43% 43.85% at 1.22% 52.45%,
    rgba(8, 70, 59, 1) 0%,
    #1c1c1c 100%
  );
  background-size: cover;
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: $w-padding;
    max-width: 1920px;
    width: 100%;
  }
}

.tech-introduce {
  @include descripContainer();
  > p:nth-of-type(2) {
    font-family: $fira-font;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    > span {
      color: $green;
    }
  }
  > p:last-of-type {
    margin-bottom: 40px;
    color: $white;
  }
  > a {
    > button {
      @include transBtn();
    }
  }
}

.skillset {
  display: flex;
  gap: 50px;
  row-gap: 20px;
  justify-content: center;
  height: 450px;
  width: 630px;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
    width: 100px;
    height: 120px;
    margin-top: 48px;
    > img {
      height: 50px;
      width: 50px;
      &:hover {
        scale: 1.1;
      }
    }
    > span {
      color: $white;
      letter-spacing: $l-spacing;
      font-family: $fira-font;
      font-size: 18px;
      text-align: center;
    }
  }

  > div:last-of-type {
    position: relative;
    &:hover {
      > span {
        color: $green;
      }
      > img:last-of-type {
        scale: 1.1;
      }
    }
    > img:first-of-type {
      &:hover {
        scale: 1;
      }
      position: absolute;
      height: 129px;
      width: 188px;
      top: -110px;
      left: -5px;
      z-index: 999;
    }
  }
}

@media (max-width: 1600px) {
  section {
    > div {
      padding: 50px 50px;
    }
  }
}

@media (max-width: 1300px) {
  section {
    > div {
      padding: 50px 15px;
      justify-content: center;
      gap: 20px;
    }
  }

  .tech-introduce {
    width: 400px;
  }

  .skillset {
    gap: 10px;
    row-gap: 0;
    justify-content: start;
    margin-top: 48px;
    margin-left: 25px;
    > div {
      margin-top: 0;
      height: fit-content;
    }
  }
}

@media (max-width: 920px) {
  section {
    > div {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .skillset {
    gap: 10px;
    row-gap: 0;
    justify-content: center;
    margin-top: 48px;
    margin-left: 0;
    width: fit-content;
    max-width: 600px;
    padding-right: 50px;
    padding-left: 50px;
    > div {
      margin-top: 0;
      height: fit-content;
    }
  }
}

@media (max-width: 480px) {
  .tech-introduce {
    width: 360px;
    font-size: 16px;
    > span {
      font-size: 56px;
    }
  }

  .skillset {
    gap: 0;
    row-gap: 0;
    justify-content: start;
    margin-top: 48px;
    margin-left: 0;
    width: fit-content;
    max-width: 600px;
    padding-right: 0;
    padding-left: 0;
    > div {
      margin-top: 0;
      height: fit-content;
      width: 90px;
      > span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 410px) {
  .tech-introduce {
    width: 280px;
    font-size: 16px;
    padding: 20px 20px;
    > span {
      font-size: 42px;
    }
    > div {
      gap: 10px;
    }
  }
}
