@import "./../../../styles.scss";
section {
  background-color: $background-dark;
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: $w-padding;
}

.tech-introduce {
  @include descripContainer();
  > p:nth-of-type(2) {
    font-family: $fira-font;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    > span {
      color: $green;
    }
  }
  > p:last-of-type {
    margin-bottom: 40px;
    color: $white;
  }
  > a {
    > button {
      @include transBtn();
    }
  }
}

.skillset {
  display: flex;
  gap: 50px;
  row-gap: 20px;
  align-items: center;
  justify-content: end;
  height: 450px;
  width: 630px;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
    width: 100px;
    height: 120px;
    margin-top: 48px;
    > img {
      height: 50px;
      width: 50px;
      &:hover {
        scale: 1.1;
      }
    }
    > span {
      color: $white;
      letter-spacing: $l-spacing;
      font-family: $fira-font;
      font-size: 18px;
      text-align: center;
    }
  }

  > div:last-of-type {
    position: relative;
    &:hover {
      > span {
        color: $green;
      }
      > img:last-of-type {
        scale: 1.1;
      }
    }
    > img:first-of-type {
      &:hover {
        scale: 1;
      }
      position: absolute;
      height: 129px;
      width: 188px;
      top: -110px;
      left: -5px;
      z-index: 999;
    }
  }
}
