<section>
    <div>
        <h3>Technologies</h3>
        <div class="tech-introduce">
            <span>Skill Set</span>
            <p>My journey has involved working on diverse projects,
                employing a range of frontend technologies and
                concepts. I am open to embracing new technologies
                and methogologies to Continously enhance my skills
                and stay ahead in the ever-evolving langscape of
                web development.
            </p>
            <p>You need <span>another skill?</span></p>
            <p>Feel free to contact me. I look forward to
                expanding on my previous knowledge.
            </p>
            <button>Let's Talk</button>
        </div>
    </div>

    <div class="skillset">
        <div>
            <img src="./../../../assets/img/icons/html.png" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/css.png" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/javascript.png" alt="">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/material-design.png" alt="">
            <span>Material Design</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/typescript.png" alt="">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/angular.png" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/firebase.png" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/git.png" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/rest-api.png" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/scrum.png" alt="">
            <span>Scrum</span>
        </div>
        <div>
            <img src="./../../../assets/img/icons/knowledge.png" alt="">
            <span>Growth Mindset</span>
        </div>
    </div>
</section>