<section>
    <app-navbar></app-navbar>
    <div class="owner-presentation">
        <div>
            <h2>Frontend Developer</h2>
            <h1>Pascal Nehlsen</h1>
        </div>

        <div>
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
    </div>

    <div class="atf-design">
        <div>
            <div class="atf-rectangle">
                <img src="./assets/img/icons/rectangle-atf.png" alt="Green Rectangle">
                <img src="./assets/img/icons/arrow-down.png" alt="Arrow Down">
            </div>
        </div>
        <div>
            <div class="atf-socials">
                <a href="mailto:mail@pascal-nehlsen.de">mail&#64;pascal-nehlsen.de</a>
                <div>
                    <a href="https://github.com/PascalNehlsen/" target="_blank">
                        <img src="./assets/img/icons/github-green.png" alt="Github Logo">
                    </a>
                    <img src="./assets/img/icons/hover-circle.png" alt="Hover Circle">
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/pascal-nehlsen/" target="_blank">
                        <img src="./assets/img/icons/linkedin-green.png" alt="LinkedIn Logo">
                    </a>
                    <img src="./assets/img/icons/hover-circle.png" alt="Hover Circle">
                </div>
            </div>
        </div>
    </div>

    <div class="slider">
        <p>Available for remote work</p>
        <img src="./assets/img/icons/hover-circle.png" alt="Hover Circle">
        <p>Frontend Developer</p>
        <img src="./assets/img/icons/hover-circle.png" alt="Hover Circle">
        <p>Based in Wermelskirchen</p>
        <img src="./assets/img/icons/hover-circle.png" alt="Hover Circle">
        <p>Open to work</p>
        <img src="./assets/img/icons/hover-circle.png" alt="Hover Circle">
    </div>

</section>