@import "./../../../styles.scss";

section {
  background-image: url(./../../../assets/img/background/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.owner-presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  > div:last-of-type {
    display: flex;
    gap: 48px;
    > button {
      @include transBtn();
    }
  }
}

h1 {
  color: $grey;
  font-family: $fira-font;
  font-weight: bold;
  font-size: 128px;
  letter-spacing: $l-spacing;
  &:hover {
    cursor: default;
  }
}

h2 {
  color: $grey;
  font-size: 40px;
  font-family: $fira-font;
  font-weight: 300;
  &:hover {
    cursor: default;
  }
}

.atf-design {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 0 100px 0 100px;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  > div {
    height: 240px;
    border: 1px solid $green;
    position: relative;
  }
  > div:last-of-type {
    height: 190px;
    border: 1px solid $white;
    position: relative;
  }
}

.atf-socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  top: -350px;
  left: -14px;
  > div:first-of-type {
    > a:first-of-type {
      writing-mode: vertical-rl;
      text-decoration: none;
      color: $white;
      transform: rotate(180deg);
      font-family: $karla-font;
      font-size: 20px;
      &:hover {
        color: $green;
      }
    }
    > a:last-of-type {
      display: none;
    }
  }
  > div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.atf-rectangle {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: -15px;
  top: -80px;
  > img:last-of-type {
    position: relative;
    left: -50%;
  }
}

.slider {
  color: $green;
  font-family: $karla-font;
  font-size: 32px;
  position: absolute;
  bottom: 80px;
  background: rgba(255, 255, 255, 0.12);
  rotate: -3deg;
  width: 100%;
  overflow: hidden;
  > div {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 100px;
    animation: move-words 50s linear infinite;

    > p {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@keyframes move-words {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1470px) {
}

@media (max-width: 1350px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 24px;
  }

  .atf-design {
    padding: 0 50px 0 50px;
  }
}

@media (max-width: 950px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .atf-socials {
    top: -150px;
    > div:first-of-type {
      > a:first-of-type {
        display: none;
      }
      > a:last-of-type {
        display: flex;
      }
    }
    > div {
      gap: 3px;
    }
  }

  .atf-design {
    > div {
      height: 300px;
    }
    > div:last-of-type {
      height: 150px;
    }
  }

  .owner-presentation {
    > div:last-of-type {
      margin-bottom: 100px;
    }
  }

  .atf-design {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 24px;
  }

  .owner-presentation {
    > div:last-of-type {
      gap: 20px;
      > button {
        font-size: 16px;
        padding: 10px 15px;
      }
    }
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }
}
