* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$green: #3dcfb6;
$background-green: rgba(61, 207, 182, 0.3);
$background-green-transparent: rgba(61, 207, 182, 0.1);
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.8);
$grey: #d9d9d9;
$background-dark: #1c1c1c;
$gradient-green: linear-gradient(
  90deg,
  #1c1c1c 0%,
  rgba(28, 28, 28, 0) 10%,
  rgba(28, 28, 28, 0) 90%,
  #1c1c1c 100%
);
$err: rgba(236, 123, 123, 0.8);
$hover-background-green: rgba(61, 207, 182, 0.3);
$w-padding: 50px 200px 50px 200px;
$fira-font: "Fira Code";
$karla-font: "Karla";
$l-spacing: -0.03em;

@mixin transBtn() {
  border: 1px solid $white;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: transparent;
  color: $white;
  font-size: 18px;
  font-family: $karla-font;
  font-weight: 400;
  overflow: hidden;

  span {
    display: inline-block;
    cursor: pointer;
  }

  &:hover {
    border: 1px solid $green;
    cursor: pointer;
    color: $green;

    span {
      animation: textMove 1.5s linear infinite;
    }
  }
}

p {
  &:hover {
    cursor: default;
  }
}

span {
  &:hover {
    cursor: default;
  }
}

@keyframes textMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-150%);
  }
  50.01% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

@mixin greenHeadline() {
  font-family: $fira-font;
  color: $green;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: $l-spacing;
  &:hover {
    cursor: default;
  }
}

@mixin descripContainer() {
  background-color: $background-green-transparent;
  font-family: $karla-font;
  font-size: 18px;
  width: 560px;
  height: fit-content;
  border: 1px solid $green;
  border-radius: 30px;
  padding: 20px 32px 32px 32px;
  text-align: justify;
  > span {
    @include greenHeadline();
  }

  > p:first-of-type {
    font-family: $karla-font;
    margin-top: 30px;
    color: $white;
  }
  > div {
    display: flex;
    align-items: start;
    gap: 20px;
    > p {
      font-family: $karla-font;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 10px;
    }
  }
  > div:first-of-type {
    margin-top: 20px;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

h3 {
  color: $green;
  font-family: $karla-font;
  font-size: 24px;
  margin-bottom: 20px;
  &:hover {
    cursor: default;
  }
}

.green-vertical-border {
  border: 1px solid $green;
  width: 100%;
}

.skillset {
  margin-top: -10px;
  display: flex;
  gap: 20px;
  > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: $karla-font;
    font-size: 16px;
    color: $white;
    > img {
      height: 24px;
      width: 24px;
    }
  }
}

.logo {
  font-family: $fira-font;
  display: flex;
  align-items: center;
  cursor: default;
  > div:first-of-type {
    color: $green;
    font-weight: bold;
    font-size: 44px;
    transform: rotate(270deg);
    width: fit-content;
    height: fit-content;
    margin-right: -13px;
  }
  > div:last-of-type {
    color: $white;
    font-weight: bold;
    line-height: 26px;
    font-size: 32px;
  }
  &:hover {
    > div:first-of-type {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $green;
      color: transparent;
    }

    > div:last-of-type {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
      color: transparent;
    }
  }
}

.hidden {
  display: none;
}

#svg:hover .cls-2 {
  fill: $white;
}

#svg:hover .cls-5 {
  fill: $green;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $background-dark;
}

::-webkit-scrollbar-thumb {
  background: $background-green-transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $background-green;
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/fira-code-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/fira-code-v22-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/karla-v31-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/karla-v31-latin-700.woff2") format("woff2");
}
