@import "./../../../styles.scss";
section {
  background-color: $background-dark;
  width: 100%;
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $w-padding;
    padding-bottom: 0;
    position: relative;
    max-width: 1920px;
    width: 100%;
  }
}

.owner-footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 40px;
  > div:last-of-type {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    color: $white;
    font-family: $karla-font;
    gap: 5px;
  }
}

.copyright {
  height: 200px;
  display: flex;
  align-items: center;
  color: $green;
  font-family: $fira-font;
  font-size: 18px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 200px;
  justify-content: center;
  > div {
    position: relative;
    gap: 5px;
    > img {
      position: absolute;
      left: -12px;
      top: 25%;
    }
    > a {
      font-family: $karla-font;
      color: $white;
      text-decoration: none;
      &:hover {
        color: $green;
      }
    }
  }
}

@media (max-width: 1600px) {
  section {
    > div {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 1300px) {
  section {
    > div {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .socials {
    justify-content: start;
  }

  .copyright {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    height: fit-content;
  }

  .owner-footer {
    height: 200px;
    gap: 10px;
    > div:last-of-type {
      padding-right: 50px;
    }
  }
}
