@import "./../../../styles.scss";
section {
  background-color: $background-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: $w-padding;
}

.owner-footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 40px;
  > div:last-of-type {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    color: $white;
    font-family: $karla-font;
    gap: 5px;
  }
}

.copyright {
  height: 200px;
  display: flex;
  align-items: center;
  color: $green;
  font-family: $fira-font;
  font-size: 18px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 200px;
  justify-content: center;
  > div {
    position: relative;
    gap: 5px;
    > img {
      position: absolute;
      left: -12px;
      top: 25%;
    }
    > a {
      font-family: $karla-font;
      color: $white;
      text-decoration: none;
      &:hover {
        color: $green;
      }
    }
  }
}
